
body{background-image: url('img/j.png');
     background-repeat: no-repeat;
 	 background-size: cover;
 	}
.topnav {
  overflow: hidden;
  background-color: red;
  border: solid white 3px;
}

#divExt{color:black;font-size:100%;position: absolute;top:20px;right: 20px;}
.topnav a{
  float: left;
  color: white;
  text-align: center;
  padding: 20px 22px;

  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover{
  background-color: yellow;
  color: black;
}

#div1{background-color: red;color:white;font-size:160%;margin-top: 20px;text-align: center;height: 50px;border: solid white 2px;}
button{border:2px solid black;color: white;background-color: red; width: 100px;height: 50px;position: absolute;bottom: 60px;left: 20px;}
#div4{background-color: red;color:white;font-size:160%;margin-top: 20px;text-align: center;height: 50px;}
h1{color: white; text-align: center;margin:auto;}